<mat-card class="md:p-10">
  <mat-card-header class="my-4 md:my-20">
    <img
      class="bui-about-picture"
      src="assets/images/sbeacon.png"
      alt="sBeacon logo"
    />
  </mat-card-header>
  <mat-card-content class="text-lg">
    <br />
    To make genomic data exchange future-ready, CSIRO developed the
    <strong>Serverless Beacon (sBeacon)</strong>. This innovation utilises a new
    cloud-architecture paradigm, serverless, or Function-as-a-Service that
    allows for the seamless scaling of compute resources on public cloud
    providers. sBeacon provides a solution that is more scalable and economical
    than the traditional implementation, hence catering to the cohort sizes of
    the future.
  </mat-card-content>
  <mat-card-content class="text-lg">
    <br />
    Beacon UI enables the visual interpretation of results and faster querying
    of the Beacon V2 API with greater ease. Beacon UI is capable of connecting
    to any V2 compliant Beacon API and provide querying capabilities right away.
    For added security, <em>username (email)</em> and <em>password</em> based
    authentication is provided using AWS Cognito as the userpool manager. If you
    wish to deploy your own Beacon UI instance, please get in touch with us.
  </mat-card-content>
  <mat-card-content class="text-lg">
    <br />
    <a [routerLink]="['/login']">Login</a> to query sBeacon or contact CSIRO's
    Transformational Bioinformatics group to get access.
  </mat-card-content>
</mat-card>
