<div
  class="border-dashed border-[1px] p-10 rounded-md bg-cyan-300 font-light max-w-[100%] mx-auto text-center cursor-pointer"
  #dropzone
  (dragenter)="highlight($event)"
  (dragover)="highlight($event)"
  (dragleave)="unhighlight($event)"
  (drop)="handleDrop($event)"
  (click)="!disabled && input.click()"
  [class]="disabled ? 'bg-gray-500' : ''"
>
  <h4 class="my-0">
    Drag and drop you files here. Or click to select files manually.
  </h4>

  <input type="file" (change)="handlePick($event)" multiple hidden #input />
</div>
