<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
  <form>
    <mat-form-field class="w-full">
      <mat-label>{{ data.label }}</mat-label>
      <input
        matInput
        [placeholder]="data.placeholder"
        [formControl]="valueControl"
      />
    </mat-form-field>
  </form>

  <div class="flex flex-row space-x-[10px]">
    <button mat-raised-button color="primary" [mat-dialog-close]="false">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="valueControl.value"
      [disabled]="valueControl.invalid"
    >
      Save
    </button>
  </div>
</div>
