<h1 mat-dialog-title>Upload File to S3</h1>
<div mat-dialog-content>
  <p>
    Please provide a unique name to avoid overwriting an existing file in the
    project.
    <br />
    Please provide the extension of file (eg: .json, .csv, .txt).
  </p>

  <form [formGroup]="fileNameForm">
    <mat-form-field class="w-full">
      <mat-label>File Name</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        required
        autocomplete="off"
        placeholder="eg: transformed-metadata.json"
      />
      <mat-error>
        A name is required (6-30 alphanumeric characters including - and _)
      </mat-error>
    </mat-form-field>
    <div class="flex flex-row space-x-1">
      <button mat-raised-button mat-dialog-close color="primary">Close</button>

      <button
        mat-raised-button
        type="button"
        [disabled]="fileNameForm.invalid"
        color="primary"
        (click)="generateCurlCommand(fileNameForm.value.name)"
      >
        Generate
      </button>
    </div>
  </form>

  @if (cmdTabs.length > 0) {
    <div class="mt-4">
      Use the following script to upload your file to your private S3 bucket. Copy the script and run it in your terminal.
    </div>

    <div class="alert-warning" role="alert">
      <span class="block sm:inline">You cannot upload files contained in a folder using a presigned URL. This URL will expire in <b>{{ expiredsText }}</b> and the file size limit is <b>{{ limitSizeText }}</b>.</span>
    </div>

    <div>
      <em>Replace the placeholders below before running the command:</em><br />
       <p>
        <strong class="quote">/path/to/local/file.format</strong> → the full path to your local file (e.g. <code>/home/user/example.txt</code>) or <code>example.txt</code> if the file located in root folder <br />
       </p>
       <p>
        <strong class="quote">\"/path/to/local/file.format/file with spaces.format\"</strong> → the full path to your local file if the file name contains spaces (e.g. <code>/home/user/example text.txt</code>)
       </p>
    </div>

    <mat-tab-group [(selectedIndex)]="selectedIndex">
      <mat-tab *ngFor="let tab of cmdTabs" [label]="tab.label">
        <div *ngIf="selectedTab === tab.tab">
          <pre class="code-block" [innerHTML]="tab.html"></pre>

          <div class="flex flex-row space-x-1">
            <button mat-raised-button mat-dialog-close color="primary">Close</button>

            <button
              mat-raised-button
              color="primary"
              [cdkCopyToClipboard]="tab.plain"
              class="mr-2.5"
            >
              Copy Script
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  }
</div>
