<h1 mat-dialog-title>Access Keys</h1>
<div mat-dialog-content>
  You can use the following keys to access S3 to upload/download data.
  <br />
  <span class="text-red-600 italic">Do not share following keys.</span>

  <div class="whitespace-pre overflow-x-auto mt-2 mb-2">
    export AWS_ACCESS_KEY_ID="{{ accessKeyId }}"
    <br />
    export AWS_SECRET_ACCESS_KEY="{{ secretAccessKey }}"
    <br />
    export AWS_SESSION_TOKEN="{{ sessionToken }}"
  </div>

  <div
    class="whitespace-pre overflow-x-auto overflow-y-visible mt-2 mb-2 items-center"
  >
    S3 URL is
    <button mat-button [cdkCopyToClipboard]="s3uri" matTooltip="Click to copy">
      {{ s3uri }}
    </button>
  </div>

  <div class="overflow-x-auto overflow-y-visible mt-2 mb-2">
    To access S3 using AWS CLI, run the following command:
    <br />
    <pre>
        aws s3 ls {{ s3uri }}
    </pre>
    To copy files to s3, run the following command:
    <br />
    <pre>
        aws s3 cp file.txt {{ s3uri }}
    </pre>
    To copy files from S3, run the following command:
    <br />
    <pre>
        aws s3 cp {{ s3uri }}/file.txt .
    </pre>
  </div>

  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    [cdkCopyToClipboard]="copyString"
    style="margin-right: 10px"
  >
    Copy Keys
  </button>
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</div>
