terraform {
  backend "s3" {
    region         = "ap-southeast-3"
    bucket         = "tf-state-209479276142-ap-southeast-3"
    dynamodb_table = "ddb-tf-state-209479276142-ap-southeast-3"
    key            = "gxc-consortium/209479276142/sbeacon/terraform.tfstate"
    encrypt        = true
  }
}