<mat-card>
  <mat-card-content>
    <div class="mx-1 lg:mx-[20px]">
      <h2 class="text-left">Instructions</h2>
      <p>
        {{clinicMode}} operates by using a single input in the form of a VCF file.
        Please select a VCF from the list of available files.
      </p>
      <p>
        Disabled options indicate missing .tbi/.csi index files in project
        bucket.
      </p>
      <br />
      <app-component-spinner [loading]="loading" />
      <div class="flex flex-row-reverse space-x-[10px]">
        <button mat-mini-fab color="primary" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <br />
      @for(project of projects; track project) {
        <app-project-item
          [project]="project" 
          (submitQuery)="handleSubmitQuery($event, project)"
          (viewQcReport)="handleViewQcReport($event, project)"
        ></app-project-item>
      }
      <mat-paginator
        #paginator
        [pageSizeOptions]="[5, 10, 50]"
        [pageSize]="pageSize"
        length="9999"
      ></mat-paginator>
      <br />
    </div>
  </mat-card-content>
</mat-card>