<br />
<app-component-spinner [loading]="loading" />
<div class="flex flex-row-reverse space-x-[10px]">
  <button mat-mini-fab color="primary" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<br />
<table mat-table [dataSource]="dataSource">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Files Column -->
  <ng-container matColumnDef="files">
    <th mat-header-cell *matHeaderCellDef>Files</th>
    <td mat-cell *matCellDef="let element">
      @for (file of element.files; track $index) {
        <div class="file-row my-4 h-10 flex items-center">
          {{ file.filename }}
        </div>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="flex flex-col items-center">
        @for (file of element.files; track $index) {
          <div class="flex flex-row gap-2 mb-2 mt-2 h-10 items-center">
            <div
              (click)="openJobDialog(file.filename, element.name)"
              class="bg-primary-50 flex justify-center items-center rounded-full w-8 h-8 shadow-xl overflow-hidden cursor-pointer"
              matTooltip="Run Clinical Workflow"
              aria-label="Run Clinical Workflow"
              [style.cursor]="file.disabled ? 'not-allowed' : 'pointer'"
              [style.background]="file.disabled ? 'gray' : '#16B3AC'"
            >
              <img width="25rem" src="../../../../../assets/images/dna.png" />
            </div>
            <div
              (click)="showQC(file.filename, element.name)"
              class="bg-primary-50 flex justify-center items-center rounded-full w-8 h-8 shadow-xl overflow-hidden cursor-pointer"
              matTooltip="See QC Report"
              aria-label="See QC Report"
              [style.cursor]="file.disabled ? 'not-allowed' : 'pointer'"
              [style.background]="file.disabled ? 'gray' : '#16B3AC'"
            >
              <img height="21rem" src="../../../../../assets/images/cart.png" />
            </div>
          </div>
        }
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  #paginator
  [pageSizeOptions]="[5, 10, 50]"
  [pageSize]="pageSize"
  length="9999"
></mat-paginator>
<br />
