<mat-card>
  <mat-card-content style="margin-bottom: 10px">
    <h2>View filters available for different scopes</h2>
  </mat-card-content>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="run()">
      <h3>Select scope and granularity</h3>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-1 md:gap-4">
        <mat-form-field>
          <mat-label>Scope</mat-label>
          <mat-select required formControlName="scope">
            <mat-option [value]="scopeTypes.INDIVIDUALS"
              >Individuals</mat-option
            >
            <mat-option [value]="scopeTypes.BIOSAMEPLES">Biosamples</mat-option>
            <mat-option [value]="scopeTypes.RUNS">Runs</mat-option>
            <mat-option [value]="scopeTypes.DATASETS">Datasets</mat-option>
            <mat-option [value]="scopeTypes.COHORTS">Cohorts</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput formControlName="id" form />
          @if (form.controls["id"].enabled) {
            <mat-hint
              ><a [routerLink]="[]" (click)="searchIds()">Search</a></mat-hint
            >
          }
          @if (form.controls["id"].enabled) {
            <mat-error
              >Required (<a [routerLink]="[]" (click)="searchIds()">Search</a
              >)</mat-error
            >
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Skip</mat-label>
          <input
            matInput
            [defaultValue]="0"
            min="0"
            type="number"
            formControlName="skip"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Limit</mat-label>
          <input
            matInput
            [defaultValue]="100"
            min="1"
            max="500"
            type="number"
            formControlName="limit"
          />
        </mat-form-field>
      </div>
      <div class="bui-visualise-checkbox-container">
        <h3>
          Visualise term frequencies
          <mat-checkbox formControlName="stats" color="primary"></mat-checkbox>
        </h3>
        @if (form.controls["stats"].disabled) {
          <em>Not available for the selected scope</em>
        }
      </div>
    </form>
  </mat-card-content>
  <mat-card-content>
    <h3>Execute</h3>
    <button
      type="button"
      (click)="reset()"
      mat-raised-button
      color="primary"
      style="margin-bottom: 10px; margin-right: 10px; width: 110px"
    >
      Reset
    </button>
    <button
      [disabled]="form.invalid"
      (click)="run()"
      [disabled]="false"
      mat-raised-button
      color="primary"
      style="margin-bottom: 10px; width: 110px"
    >
      Run query
    </button>
  </mat-card-content>
</mat-card>
<br />
@if (terms.length > 0) {
  <app-term-freq-viewer
    [scope]="activeScope!"
    [terms]="terms"
  ></app-term-freq-viewer>
}
@if (results) {
  <br />
  <app-filters-result-viewer
    [results]="results"
    [endpoint]="endpoint"
    [query]="query"
  ></app-filters-result-viewer>
}
