.cu-header {
  display: flex;
  flex-direction: row;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.cu-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 800px) {
    justify-content: flex-start;
  }
}

.notebook-radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notebook-radio-option {
  align-items: start;
  padding: 8px 0;
}

.notebook-radio-option .label {
  display: flex;
  flex-direction: column;
}


