<h1 mat-dialog-title>Ingest "{{ data.project.name }}" to sBeacon</h1>
<div mat-dialog-content>
  <app-component-spinner [loading]="loading" />
  <span class="font-semibold">Description: </span>
  <span>{{ data.project.description }}</span>
  <form [formGroup]="ingestionForm">
    <br />
    <mat-form-field class="w-full">
      <mat-label>Dataset ID</mat-label>
      <input matInput formControlName="datasetId" required />
    </mat-form-field>
    @if (
      ingestionForm.get("datasetId")?.dirty &&
      (ingestionForm.get("datasetId")?.hasError("required") ||
        ingestionForm.get("datasetId")?.hasError("pattern"))
    ) {
      <mat-error class="text-sm"
        >A unique dataset ID is required per project.
      </mat-error>
      <mat-error class="text-sm"
        >White spaces not allowed at start or end.</mat-error
      >
      <mat-error class="text-sm">Can contain hiphen and underscore.</mat-error>
    }
    @if (
      ingestionForm.get("datasetId")?.dirty &&
      (ingestionForm.get("datasetId")?.hasError("maxLength") ||
        ingestionForm.get("datasetId")?.hasError("minLength"))
    ) {
      <mat-error class="text-sm">Must be between 6-30 characters.</mat-error>
    }
    <div formArrayName="vcfLocations">
      <span class="font-semibold">VCF Files:</span>
      @for (file of vcfLocations.controls; track file; let i = $index) {
        <div [formGroupName]="i">
          <mat-checkbox formControlName="checked" color="primary">{{
            file.value.name
          }}</mat-checkbox>
        </div>
      }
      @if (vcfLocations.hasError("atLeastOneRequired")) {
        <mat-error class="text-sm">At least one VCF must be selected</mat-error>
      }
    </div>
    <div>
      <span class="font-semibold">File Type:</span>
      <div>
        <mat-form-field>
          <mat-select
            formControlName="fileType"
            placeholder="Select File Type"
            required
          >
            <mat-option value="json">JSON</mat-option>
            <mat-option value="tabular">CSV/TSV</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    @if (ingestionForm.controls["fileType"].value === "json") {
      <div>
        <span class="font-semibold">JSON File:</span>
        <mat-radio-group formControlName="jsons">
          @for (file of jsons; track file) {
            <div>
              <mat-radio-button [value]="file" color="primary">{{
                file
              }}</mat-radio-button>
            </div>
          }
          @if (ingestionForm.controls["jsons"].hasError("required")) {
            <mat-error class="text-sm"
              >At least one JSON must be selected</mat-error
            >
          }
        </mat-radio-group>
      </div>
    }
    @if (ingestionForm.controls["fileType"].value === "tabular") {
      <div class="font-semibold">CSV/TSV Files:</div>
      <mat-tab-group>
        @for (key of tabularKeys; track key) {
          <mat-tab [label]="key.charAt(0).toUpperCase() + key.slice(1)">
            <mat-form-field>
              <input
                matInput
                [formControl]="getTabularFileControl(key)"
                [matAutocomplete]="auto"
                placeholder="Select {{ key }} file"
                (input)="filterFiles($event, key)"
              />
              <mat-autocomplete #auto="matAutocomplete">
                @for (file of getFilteredFiles(key); track file) {
                  <mat-option [value]="file">{{ file }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </mat-tab>
        }
      </mat-tab-group>
    }
    @if (ingestionForm.hasError("metadataInvalid")) {
      <mat-error class="text-sm">{{
        ingestionForm.errors?.["message"]
      }}</mat-error>
    }
  </form>
  <br />
  <div>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="false"
      class="mr-2.5"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="ingest(ingestionForm.value)"
      [disabled]="ingestionForm.invalid"
    >
      Ingest
    </button>
  </div>
</div>
