<mat-card>
  <mat-card-content>
    <h2>Project Managment</h2>

    <mat-tab-group dynamicHeight="true" selectedIndex="1">
      <mat-tab label="Onboarding">
        <ng-template matTabContent>
          <app-data-submission-form />
        </ng-template>
      </mat-tab>
      <mat-tab label="Projects">
        <ng-template matTabContent>
          <app-projects-list />
        </ng-template>
      </mat-tab>
      <mat-tab label="Notebook Management">
        <ng-template matTabContent>
          <app-notebooks />
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
