<mat-card>
  <mat-card-content>
    @if (selectedProject) {
      <div class="flex flex-row gap-4 items-center">
        <div
          class="flex justify-center items-center bg-primary-50 rounded-full p-1 cursor-pointer"
          (click)="backToList()"
        >
          <mat-icon style="color: white">keyboard_backspace</mat-icon>
        </div>
        <div class="text-base">
          Statistic Graph of
          <b class="text-primary-60 text-xl">{{
            selectedProject.fileName || ""
          }}</b>
          file from the
          <b class="text-primary-60 text-xl"
            >{{ selectedProject.projectName }}
          </b>
        </div>
      </div>
    } @else {
      <div class="mx-1 lg:mx-[20px]">
        <h2 class="text-left">Instructions</h2>
        <p>
          {{clinicMode}} operates by using a single input in the form of a VCF file.
          Please select a VCF from the list of available files.
        </p>
        <p>
          Disabled options indicate missing .tbi/.csi index files in project
          bucket.
        </p>
        <app-projects-list
          #projects
          (filesSelected)="filesSelected($event)"
          (selectProject)="handleSelectProject($event)"
        />
        <br />
      </div>
    }
  </mat-card-content>
</mat-card>
@if (selectedProject) {
  <qc-report [qcData]="selectedProject" />
}
