<form [formGroup]="dataSubmissionForm">
  <div class="flex flex-col gap-2 p-4 my-4 font-medium text-yellow-800 rounded-lg bg-yellow-100" role="alert">
    <div>
      Multi-sampled VCF is for the Data Portal functionalities, and only single-sampled and compressed VCF works for the Clinical workflow.
    </div>
    <div>
      Please make sure that neither the filename nor the file content contains any sensitive personal information!
    </div>
  </div>

  <div class="flex flex-col space-y-2 w-full">
    <mat-form-field class="w-full">
      <mat-label>Project name</mat-label>
      <input matInput formControlName="projectName" placeholder="Project 1" />
      <mat-error>
        Choose a unique name of 6 to 64 alphanumeric characters. Whitespaces in
        the middle are allowed.</mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Project description</mat-label>
      <textarea
        matInput
        formControlName="projectDescription"
        placeholder="Enter project description"
      ></textarea>
      <mat-error>
        A description of upto 5000 characters is required.
      </mat-error>
    </mat-form-field>
    <app-file-dropper
      (dropped)="patchFiles($event)"
      [disabled]="dataSubmissionForm.disabled"
      #fileDropper
    />
  </div>
  <br />
  @for (file of files; track $index) {
    <div class="flex flex-row items-center space-x-2 mb-1">
      <button
        mat-mini-fab
        color="warn"
        type="button"
        (click)="removeFile($index)"
        [disabled]="dataSubmissionForm.disabled"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <div class="flex flex-row space-x-2">
        <span>{{ file.name }}</span>
        <span class="font-bold">
          {{ file.size / (1024 * 1024) | number: "1.3-3" }} MB</span
        >
      </div>
    </div>
  } @empty {
    <span class="text-sm text-gray-500 italic"
      >Added files will appear here. Please use unique file names within each
      project.</span
    >
    <br />
  }
  <br />
  <div class="flex flex-row space-x-[10px]">
    <button
      class="w-[100px]"
      mat-raised-button
      color="primary"
      type="button"
      (click)="reset()"
      [disabled]="dataSubmissionForm.disabled"
    >
      Reset
    </button>
    <button
      class="w-[100px]"
      mat-raised-button
      color="primary"
      type="button"
      (click)="onSubmit(dataSubmissionForm.value)"
      [disabled]="dataSubmissionForm.invalid || dataSubmissionForm.disabled"
    >
      Submit
    </button>
    <mat-spinner
      class="w-[100px]"
      diameter="36"
      mode="determinate"
      [value]="(progress / totalSize) * 100"
    ></mat-spinner>
  </div>
</form>
<br />
