<h2 class="flex p-0 my-4">Notebook Instances in the System</h2>
<div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4">
  <div class="flex flex-col gap-3">
    <div class="w-2/4">
      <mat-form-field class="w-full">
        <mat-label>Search</mat-label>
        <input
          matInput
          type="text"
          [formControl]="searchControl"
          placeholder="Description/Owner"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-row space-x-[10px] items-center justify-end">
    <button mat-mini-fab color="primary" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div class="flex flex-col space-y-1 relative">
  <app-component-spinner [loading]="loading" />
  @for (notebook of notebooksDataSource; track notebook) {
    <app-admin-notebook-item
      #notebook
      [notebook]="notebook"
      (deleted)="remove(notebook.instanceName)"
    />
  } @empty {
    <div>No notebooks yet! Please start a notebook to continue.</div>
  }
  <br />
</div>

<mat-paginator
  #paginator
  [pageSizeOptions]="[3, 5, 10]"
  [pageSize]="pageSize"
  [length]="9999"
></mat-paginator>
