<div style="width: 800px; max-width: 100%; max-height: 100%">
  <h1 mat-dialog-title>{{ data.id }}</h1>
  <app-component-spinner [loading]="loading"></app-component-spinner>
  <div mat-dialog-content style="overflow: auto">
    @if (data.label) {
      <h3>Term label: {{ data.label }}</h3>
    }
    <h3>Appears {{ data.count }} time(s) in the results</h3>
    @if (results) {
      <h3>Term details;</h3>
    }
    @if (results) {
      <mat-card style="max-height: 800px; overflow-y: auto">
        <mat-card-content>
          <ngx-json-viewer
            [expanded]="false"
            [json]="results"
          ></ngx-json-viewer>
        </mat-card-content>
      </mat-card>
    }
    <br />
    <div style="display: flex">
      <button
        style="align-self: flex-end"
        mat-raised-button
        color="primary"
        mat-dialog-close="null"
      >
        Done
      </button>
    </div>
  </div>
</div>
