<div class="w-[800px] max-w-full max-h-full">
  <h1 mat-dialog-title>{{ data.id }}</h1>
  <app-component-spinner [loading]="loading"></app-component-spinner>
  <div mat-dialog-content class="overflow-auto">
    @if (data.label) {
      <h3>Term label: {{ data.label }}</h3>
    }
    <h3>Appears {{ data.count }} time(s) in the results</h3>
    @if (results) {
      <h3>Term details;</h3>
    }
    @if (results) {
      <mat-card class="max-h-[800px] overflow-y-auto">
        <mat-card-content>
          <ngx-json-viewer
            [expanded]="false"
            [json]="results"
          ></ngx-json-viewer>
        </mat-card-content>
      </mat-card>
    }
    <br />
    <div class="flex">
      <button
        class="ml-auto"
        mat-raised-button
        color="primary"
        mat-dialog-close="null"
      >
        Done
      </button>
    </div>
  </div>
</div>
