<div [formGroup]="form">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-1 md:gap-4"
  >
    <mat-form-field>
      <mat-label>Assembly Id</mat-label>
      <input formControlName="assemblyId" matInput [defaultValue]="'GRCH38'" />
      <mat-hint>Eg: GRCH38</mat-hint>
      <mat-error>Assebmly Id is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start base</mat-label>
      <input
        formControlName="start"
        matInput
        [defaultValue]=""
        matTooltip="Eg: 1100 or 1100,1200"
        placeholder="Eg: 1100 or 1100,1200"
      />
      <mat-hint>Position/interval</mat-hint>
      <mat-error>{{ form.get("start")?.getError("error") }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>End base</mat-label>
      <input
        formControlName="end"
        matInput
        [defaultValue]=""
        matTooltip="Eg: 1200 or 1200,1300"
        placeholder="Eg: 1200 or 1200,1300"
      />
      <mat-hint>Position/interval</mat-hint>
      <mat-error>{{ form.get("end")?.getError("error") }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chromosome</mat-label>
      <mat-select formControlName="referenceName" required>
        @for (index of _.range(23); track index) {
          <mat-option [value]="(index + 1).toString()"
            >Chr {{ index + 1 }}</mat-option
          >
        }
        <mat-option value="X">Chr X</mat-option>
        <mat-option value="Y">Chr Y</mat-option>
      </mat-select>
      <mat-hint>Select from dropdown</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ref. base</mat-label>
      <input
        formControlName="referenceBases"
        (input)="toUpperCase($event)"
        matInput
        [defaultValue]=""
        placeholder="Eg: AC, N"
      />
      <mat-hint>Bases or N for any</mat-hint>
      <mat-error>Invalid input</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alt. base</mat-label>
      <input
        formControlName="alternateBases"
        (input)="toUpperCase($event)"
        matInput
        [defaultValue]=""
        placeholder="Eg: AC, N"
      />
      <mat-hint>Bases or N for any</mat-hint>
      <mat-error>Invalid input</mat-error>
    </mat-form-field>
  </div>
  <br />
  @if (form.getError("error")) {
    <mat-error>{{ form.getError("error") }}</mat-error>
    <br />
  }
</div>
