boto3==1.35.92
jsons==1.6.3
jsonschema==4.18.0
pydantic==2.9.2
pyhumps==3.8.0
pynamodb==5.5.1
pyorc==0.9.0
requests==2.31.0
smart_open==6.3.0
strenum==0.4.15
markupsafe==2.0.1
black==24.10.0
ijson==3.3.0
PyPDF2==3.0.1
reportlab==4.3.1
