<div
  class="grid grid-cols-3 md:grid-cols-7 gap-1 md:gap-4 mb-7"
  [formGroup]="form"
>
  <mat-form-field>
    <mat-label>Scope</mat-label>
    <mat-select formControlName="scope" required>
      <mat-option [value]="scopeTypes.INDIVIDUALS">Individuals</mat-option>
      <mat-option [value]="scopeTypes.BIOSAMEPLES">Biosamples</mat-option>
      <mat-option [value]="scopeTypes.RUNS">Runs</mat-option>
      <mat-option [value]="scopeTypes.ANALYSES">Analyses</mat-option>
      <mat-option [value]="scopeTypes.GENOMIC_VARIANTS"
        >Genomic Variants</mat-option
      >
      <mat-option [value]="scopeTypes.DATASETS">Datasets</mat-option>
    </mat-select>
    <mat-hint>Scope to set the filter</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" required>
      <mat-option [value]="filterTypes.ONTOLOGY">Ontology</mat-option>
      <mat-option [value]="filterTypes.ALPHANUMERIC">Alphanumeric</mat-option>
      <mat-option [value]="filterTypes.CUSTOM">Custom</mat-option>
    </mat-select>
    <mat-hint>Type of filter</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter Id</mat-label>
    <input matInput formControlName="id" required />
    @if (form.get("type")?.value === filterTypes.ONTOLOGY) {
      <mat-hint>
        <a [routerLink]="[]" (click)="searchFiltersClicked.emit()">Search</a>
      </mat-hint>
    } @else {
      <mat-hint>Filter ID</mat-hint>
    }
    @if (form.get("type")?.value === filterTypes.ONTOLOGY) {
      <mat-error>
        Required (
        <a [routerLink]="[]" (click)="searchFiltersClicked.emit()">Search</a>
        )
      </mat-error>
    } @else {
      <mat-error>Filter ID is required</mat-error>
    }
  </mat-form-field>
  <mat-checkbox
    color="primary"
    matInput
    formControlName="includeDescendantTerms"
    matInput
  >
    Include descendent terms
  </mat-checkbox>
  <mat-form-field>
    <mat-label>Operator</mat-label>
    <mat-select formControlName="operator" required>
      <mat-option value="=">=</mat-option>
      <mat-option value="!">!=</mat-option>
      <mat-option value=">">></mat-option>
      <mat-option value=">=">>=</mat-option>
      <mat-option value="&lt;">&lt;</mat-option>
      <mat-option value="&lt;=">&lt;=</mat-option>
    </mat-select>
    <mat-hint>Filter comparison</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter Value</mat-label>
    <input matInput formControlName="value" required />
    <mat-hint>Value of the filter</mat-hint>
    @if (form.get("type")?.value === filterTypes.ALPHANUMERIC) {
      <mat-error>Filter value is required</mat-error>
    }
  </mat-form-field>
  <div class="flex md:justify-end items-center h-[56px]">
    <button
      type="button"
      (click)="removeFilterClicked.emit()"
      mat-mini-fab
      color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
