<div
  class="grid grid-cols-3 md:grid-cols-7 gap-1 md:gap-4"
  [formGroup]="form"
  style="margin-bottom: 30px"
>
  <mat-form-field>
    <mat-label>Scope</mat-label>
    <mat-select formControlName="scope" required>
      <mat-option [value]="scopeTypes.INDIVIDUALS">Individuals</mat-option>
      <mat-option [value]="scopeTypes.BIOSAMEPLES">Biosamples</mat-option>
      <mat-option [value]="scopeTypes.RUNS">Runs</mat-option>
      <mat-option [value]="scopeTypes.ANALYSES">Analyses</mat-option>
      <mat-option [value]="scopeTypes.GENOMIC_VARIANTS"
        >Genomic Variants</mat-option
      >
      <mat-option [value]="scopeTypes.DATASETS">Datasets</mat-option>
      <mat-option [value]="scopeTypes.COHORTS">Cohorts</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" required>
      <mat-option [value]="filterTypes.ONTOLOGY">Ontology</mat-option>
      <mat-option [value]="filterTypes.ALPHANUMERIC">Alphanumeric</mat-option>
      <mat-option [value]="filterTypes.CUSTOM">Custom</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter Id</mat-label>
    <input matInput formControlName="id" required />
    <mat-hint
      ><a [routerLink]="[]" (click)="searchFiltersClicked.emit()"
        >Search</a
      ></mat-hint
    >
    <mat-error
      >Required (<a [routerLink]="[]" (click)="searchFiltersClicked.emit()"
        >Search</a
      >)</mat-error
    >
  </mat-form-field>
  <mat-checkbox
    color="primary"
    matInput
    formControlName="includeDescendantTerms"
    matInput
  >
    Include descendent terms
  </mat-checkbox>
  <mat-form-field>
    <mat-label>Operator</mat-label>
    <mat-select formControlName="operator" required>
      <mat-option value="=">=</mat-option>
      <mat-option value="!">!=</mat-option>
      <mat-option value=">">></mat-option>
      <mat-option value=">=">>=</mat-option>
      <mat-option value="&lt;">&lt;</mat-option>
      <mat-option value="&lt;=">&lt;=</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter Value</mat-label>
    <input matInput formControlName="value" required />
  </mat-form-field>
  <div class="flex md:justify-end">
    <button
      type="button"
      (click)="removeFilterClicked.emit()"
      mat-fab
      color="primary"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
