<div class="flex flex-col min-h-full max-h-[85vh]">
  <div class="mb-2.5">
    <div class="flex flex-row justify-between w-full items-center">
      <h2 class="flex">My Notebooks</h2>
      <div class="flex space-x-1">
        <button
          mat-mini-fab
          color="primary"
          class="flex items-center"
          (click)="keys()"
          matTooltip="Generate a key script to access your private folder/My Data Section"
        >
          <mat-icon>key</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          class="flex items-center"
          (click)="refresh()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    <mat-expansion-panel #panel class="mb-4">
      <mat-expansion-panel-header>
        <mat-panel-title> New Instance </mat-panel-title>
        <mat-panel-description>
          Configure and start a new notebook instance
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form
        [formGroup]="instanceForm"
        class="flex flex-col space-y-1 border-2 border-solid rounded-md p-2 border-primary-50"
      >
        <mat-form-field class="w-full">
          <mat-label>Notebook Name</mat-label>
          <input
            matInput
            formControlName="instanceName"
            placeholder="5-30 character name"
          />
          <mat-error
            >Enter a name. It can include hyphens (-), not spaces</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Instance Type</mat-label>
          <mat-select formControlName="instanceType">
            @for (group of instanceGroups; track group) {
              <mat-optgroup [label]="group.name">
                @for (instance of group.instances; track instance) {
                  <mat-option [value]="instance.name">
                    {{ instance.name }} ( RAM: {{ instance.ram }} CPU:
                    {{ instance.cpu }}
                    @if (group.gpu) {
                      GPU: {{ instance.gpu }} VRAM: {{ instance.vram }}
                    }
                    )
                  </mat-option>
                }
              </mat-optgroup>
            }
          </mat-select>
          <mat-error>Please select a type</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Volume (5 GB to 16384 GB)</mat-label>
          <mat-select formControlName="volumeSize">
            @for (vol of volumeSizes; track vol) {
              <mat-option [value]="vol.size">
                {{ vol.note }}
              </mat-option>
            }
          </mat-select>
          <mat-error>Please select a volume</mat-error>
        </mat-form-field>

        @if (estimatedPrice) {
          <div class="text-red-500 font-semibold">
            Cost Estimation ${{ estimatedPrice }}/Month
          </div>
        }

        <div class="flex flex-row space-x-[10px]">
          <button
            mat-raised-button
            color="primary"
            (click)="resetForm()"
            type="button"
          >
            Reset
          </button>
          <button
            mat-raised-button
            color="primary"
            [disabled]="instanceForm.invalid"
            (click)="create(instanceForm.value, panel)"
            type="button"
          >
            Start
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>
  <div
    class="flex flex-col space-y-1 relative flex-1 overflow-scroll no-scrollbar"
  >
    @for (notebook of notebooks; track notebook) {
      <app-notebook-item
        #notebook
        [notebook]="notebook"
        (deleted)="remove(notebook)"
      />
    } @empty {
      <div>No notebooks yet! Please start a notebook to continue.</div>
    }
  </div>
</div>
