.bui-filter-selection-table {
  width: 800px;
  overflow-x: auto;

  @media (width < 800px) {
    width: 100%;
  }

  @media (height < 800px) {
    max-height: 100%;
  }
}

.hide {
  @apply h-0 invisible my-0 py-0;
}
