<br />
<app-component-spinner [loading]="loading" />
<div class="flex flex-row-reverse space-x-[10px]">
  <button mat-mini-fab color="primary" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<br />
<table mat-table [dataSource]="dataSource">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <!-- Files Column -->
  <ng-container matColumnDef="files">
    <th mat-header-cell *matHeaderCellDef>Files</th>
    <td mat-cell *matCellDef="let element">
      @for (file of element.files; track $index) {
        <div class="file-row">
          <mat-radio-button
            [checked]="isFileSelected(file.filename, element.name)"
            (change)="onFileSelect(file.filename, element.name)"
            [value]="file.filename"
            [disabled]="file.disabled"
          >
            {{ file.filename }}
          </mat-radio-button>
        </div>
      }
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  #paginator
  [pageSizeOptions]="[5, 10, 50]"
  [pageSize]="pageSize"
  length="9999"
></mat-paginator>
<br />
