<div class="relative min-w-[300px] md:min-w-[800px] max-w-[800px]">
  <h1 mat-dialog-title>Update {{ data.name }}</h1>
  <div class="flex flex-col gap-2 p-4 m-4 font-medium text-yellow-800 rounded-lg bg-yellow-100" role="alert">
    <div>Please ensure that the person you are onboarding has the appropriate role and access permissions as required!    </div>
  </div>
  <app-component-spinner [loading]="loading"></app-component-spinner>
  <div mat-dialog-content>
    <div class="flex gap-5" [formGroup]="form">
      <div class="flex flex-col gap-2 w-1/2">
        <div class="font-semibold text-lg">User Info</div>

        <div class="flex flex-col gap-2">
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input
              matInput
              type="text"
              placeholder="John"
              value="{{ data.firstName }}"
              disabled
            />
            <mat-error>Field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Doe"
              value="{{ data.lastName }}"
              disabled
            />
            <mat-error>Field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email address</mat-label>
            <input
              matInput
              type="email"
              placeholder="user@domain.com"
              value="{{ data.email }}"
              disabled
            />
            <mat-error>Valid email is required</mat-error>
          </mat-form-field>
        </div>
        <div class="flex flex-row gap-2">
          <label for="Role Group" class="w-[130px]">Role Access: </label>
          <div class="flex flex-1 flex-col">
            <mat-checkbox
              formControlName="administrators"
              color="primary"
              value="administrators"
              >Admin</mat-checkbox
            >
            <mat-checkbox
              color="primary"
              formControlName="managers"
              value="managers"
              >Data Manager</mat-checkbox
            >
            <mat-checkbox
              color="primary"
              value=""
              aria-disabled="true"
              disabled
              checked
              >Basic User</mat-checkbox
            >
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <label for="Role Group" class="w-[130px]">Attributes: </label>
          <div class="flex flex-1 flex-col">
            <mat-checkbox
              formControlName="isMedicalDirector"
              color="primary"
              value="isMedicalDirector"
              >Medical Director</mat-checkbox
            >
          </div>
        </div>
        <div class="w-full">
          <div class="flex flex-col gap-3">
            <label for="Institution Type">Institution: </label>
            <mat-radio-group
              formControlName="institutionType"
              class="institution-radio-group"
            >
              <mat-radio-button
                [value]="institutionTypeValue.INTERNAL"
                class="institution-radio-option"
              >
                Internal
              </mat-radio-button>
              <mat-radio-button
                [value]="institutionTypeValue.EXTERNAL"
                class="institution-radio-option"
              >
                External
              </mat-radio-button>
            </mat-radio-group>

            <mat-form-field class="pb-2">
              <mat-label>Institution Name</mat-label>
              <input matInput type="text" formControlName="institutionName" />
              <mat-error> Field is required </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2 w-1/2">
        <div class="font-semibold text-lg">Quota</div>
        <mat-form-field>
          <mat-label>Size of Data</mat-label>
          <input matInput type="number" formControlName="quotaSize" />
          <span matTextSuffix>GB</span>
          <mat-error>
            @if (form.get("quotaSize")?.hasError("required")) {
              Field is required
            }
            @if (form.get("quotaSize")?.hasError("quotaExceeded")) {
              The Size of data must be more than {{ usageSizeText }}.
            }
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Count of Queries</mat-label>
          <input matInput type="number" formControlName="quotaQueryCount" />
          <span matTextSuffix>Count</span>
          <mat-error>
            @if (form.get("quotaQueryCount")?.hasError("required")) {
              Field is required
            }
            @if (form.get("quotaQueryCount")?.hasError("quotaExceeded")) {
              The query count must be more than {{ usageCount }}.
            }
          </mat-error>
        </mat-form-field>

        <div class="flex space-x-2">
          <span>Estimated Cost* : </span>
          <span class="font font-semibold">${{ costEstimation }} / Month</span>
        </div>

        <div class="text-red-500 text-sm flex space-x-2">
          <span
            >*Disclaimer : This above cost is an approximate and rounded off
            value</span
          >
        </div>

        <label>Notebook Options:</label>

        <mat-radio-group
          formControlName="notebookRole"
          class="notebook-radio-group"
        >
          <mat-radio-button
            [value]="noteBookRoleValue.ADVANCED"
            class="notebook-radio-option"
          >
            <div class="label">
              <strong>Advanced</strong>
              <div class="text-primary-60">
                shows all available instance types and volume options during
                notebook creation.
              </div>
            </div>
          </mat-radio-button>

          <mat-radio-button
            [value]="noteBookRoleValue.BASIC"
            class="notebook-radio-option"
          >
            <div class="label">
              <strong>Basic</strong>
              <div class="text-primary-60">
                shows only the ml.t3.medium instance with a 5 GB volume during
                notebook creation.
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <br />
    <div class="flex space-x-[10px]">
      @if (data.mfaActive) {
        <button
          mat-raised-button
          color="warn"
          (click)="disableMFA()"
          [disabled]="disableDelete"
          class="mb-[10px] w-[110px]"
        >
          Clear MFA
        </button>
      }
      <button
        mat-raised-button
        color="warn"
        (click)="delete()"
        [disabled]="disableDelete"
        class="mb-[10px] w-[110px]"
      >
        Delete
      </button>
    </div>
    <div class="flex space-x-[10px]">
      <button
        class="w-[110px]"
        mat-raised-button
        color="primary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        class="w-[110px]"
        mat-raised-button
        color="primary"
        (click)="done()"
        [disabled]="form.invalid || !costEstimation || loadingCostEstimation"
      >
        Update
      </button>
    </div>
  </div>
</div>
