/*
Custom theming
*/
@use "@angular/material" as mat;

/*
Tailwind
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

$bui-primary: mat.define-palette(mat.$cyan-palette, 900, 800, 700);
$bui-accent: mat.define-palette(mat.$cyan-palette, A400, A200, A700);

$bui-theme: mat.define-light-theme(
  (
    color: (
      primary: $bui-primary,
      accent: $bui-accent
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($bui-theme);
/*
Overloads
*/
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: #2f2f2f url(assets/images/bg02.jpg) repeat;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #5b5b5b;
}

.bui-card-background {
  background-color: #1d4753;
  background-image: url(/assets/images/dot-grid.png);
}

