<div class="w-full">
  @if (getPasswordStrength(password) <= 1) {
    <div class="w-1/5 h-[10px] bg-red-500 rounded-full"></div>
  } @else if (getPasswordStrength(password) == 2) {
    <div class="w-2/5 h-[10px] bg-orange-500 rounded-full"></div>
  } @else if (getPasswordStrength(password) == 3) {
    <div class="w-3/5 h-[10px] bg-yellow-700 rounded-full"></div>
  } @else if (getPasswordStrength(password) == 4) {
    <div class="w-4/5 h-[10px] bg-yellow-500 rounded-full"></div>
  } @else if (getPasswordStrength(password) == 5) {
    <div class="w-full h-[10px] bg-green-500 rounded-full"></div>
    <div class="text-xs mt-1">Password is strong!</div>
  }

  @if (hasLeadingOrTrailingWhitespace(password)) {
    <div class="text-xs mt-1">Cannot have leading or trailing whitespace</div>
  }
  @if (!hasCorrectLength(password)) {
    <div class="text-xs mt-1">Must be 8 or more characters</div>
  }
  @if (!hasLowerCaseLetter(password)) {
    <div class="text-xs mt-1">Must have at least 1 lowercase character</div>
  }
  @if (!hasUpperCaseLetter(password)) {
    <div class="text-xs mt-1">Must have at least 1 uppercase character</div>
  }
  @if (!hasNumber(password)) {
    <div class="text-xs mt-1">Must have at least 1 number</div>
  }
  @if (!hasSpecialCharacter(password)) {
    <div class="text-xs mt-1">Must have at least 1 special character</div>
  }
</div>
