<h1 mat-dialog-title>Add new user to: {{ data.project }}</h1>
<div mat-dialog-content>
  <form [formGroup]="emailForm">
    <mat-form-field class="w-full my-1">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        required
        autocomplete="off"
      />
      <mat-error> A valid email is required </mat-error>
    </mat-form-field>
    <div class="flex flex-row space-x-1">
      <button
        mat-raised-button
        type="button"
        mat-dialog-close
        color="primary"
        class="w-[110px]"
      >
        close
      </button>
      <button
        mat-raised-button
        type="button"
        [disabled]="emailForm.invalid"
        autocomplete="off"
        color="primary"
        class="w-[110px]"
        (click)="submit(emailForm.value.email)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
