<!-- Toolbar -->
<div class="bui-header-wrapper">
  <img class="bgsi-logo" src="../assets/images/bgsi-logo.png" alt="logo bgsi" />
  <img
    class="kemenkes-logo"
    src="../assets/images/Kemenkes-logo.png"
    alt="logo bgsi"
  />
  @if (auth.user | async) {
    <div class="bui-header">
      <div class="bui-welcome-wrapper">
        <h1><a [routerLink]="['/']">WELCOME TO DATA PORTAL</a></h1>
      </div>
    </div>
    <app-heart-beat />
  } @else {
    <div class="bui-header">
      <div class="bui-logo">
        <h1><a [routerLink]="['/login']">DATA PORTAL</a></h1>
      </div>
    </div>
  }
</div>
<div class="bui-menu-expander">
  <button type="button" mat-button (click)="isCollapsed = !isCollapsed">
    @if (isCollapsed) {
      <mat-icon class="bui-menu-icon">menu</mat-icon>
    } @else {
      <mat-icon class="bui-menu-icon">close</mat-icon>
    }
    <ng-template #close>
      <mat-icon class="bui-menu-icon">close</mat-icon>
    </ng-template>
  </button>

  <app-profile-menu></app-profile-menu>
</div>

<!-- nav   -->
<div class="bui-menu">
  @if (!isCollapsed) {
    <div class="bui-menu-wrapper">
      <list-menu />
      <div class="bui-profile-lg-visibility">
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  }
  <!-- desktop nav  -->
  <div class="bui-menu-wrapper-desktop">
    <div class="bui-profile-lg-visibility">
      <list-menu />
      <app-profile-menu></app-profile-menu>
    </div>
  </div>
  <!-- end desktop nav  -->
</div>
<!-- end nav  -->

<div class="bui-card-background">
  <div class="bui-card-resize">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bui-footer">
  <p class="bui-byline text-primary-60">
    BGSi Data Portal &#64;2024 | Kementerian Kesehatan Indonesia | Software
    Build {{ buildVersion }}
  </p>
</div>
<app-global-spinner />
