<!-- Toolbar -->
<div class="bui-header-wrapper">
  @if (auth.user | async) {
    <div class="bui-header">
      <div class="bui-welcome-wrapper">
        <h1><a href="#">WELCOME TO DATA PORTAL</a></h1>
      </div>
    </div>
  } @else {
    <div class="bui-header">
      <div class="bui-logo">
        <h1><a href="/login">DATA PORTAL</a></h1>
      </div>
    </div>
  }
</div>
<div class="bui-menu-expander">
  <button type="button" mat-button (click)="isCollapsed = !isCollapsed">
    @if (isCollapsed) {
      <mat-icon style="color: white">menu</mat-icon>
    } @else {
      <mat-icon style="color: white">close</mat-icon>
    }
    <ng-template #close>
      <mat-icon style="color: white">close</mat-icon>
    </ng-template>
  </button>
</div>
<div [@collapse]="isCollapsed ? 'closed' : 'open'" class="bui-menu">
  <ul class="bui-menu-items">
    @if (auth.user | async) {
      <li class="bui-menu-item" [routerLinkActive]="'active'">
        <a [routerLink]="['home']" accesskey="1" title="">About</a>
      </li>
      <li class="bui-menu-item" [routerLinkActive]="'active'">
        <a [routerLink]="['dportal']" accesskey="1" title="">Data Portal</a>
      </li>
      <!-- hide for now (deleted soon after code complete) -->
      <!-- <li class="bui-menu-item" [routerLinkActive]="'active'">
      <a [routerLink]="['query']" accesskey="2" title="">Query</a>
    </li>
    <li class="bui-menu-item" [routerLinkActive]="'active'">
      <a [routerLink]="['filters']" accesskey="3" title="">Filters</a>
    </li> -->
      <li class="bui-menu-item" [routerLinkActive]="'active'">
        <a [routerLink]="['clinic']" accesskey="3" title="">Clinic</a>
      </li>
    }
    @if ((auth.userGroups | async)!.has("admin-group")) {
      <li class="bui-menu-item" [routerLinkActive]="'active'">
        <a [routerLink]="['admin']" title="">Admin</a>
      </li>
    }
    @if (auth.user | async) {
      <li class="bui-menu-item" [routerLinkActive]="'active'">
        <a [routerLink]="['profile']">Profile</a>
      </li>
      <li class="bui-menu-item">
        <a [routerLink]="[]" (click)="auth.signOut()">Logout</a>
      </li>
    }
    <!-- @else {
    <li class="bui-menu-item" [routerLinkActive]="'active'">
      <a routerLink="/login">Login</a>
    </li>
    } -->
  </ul>
</div>
<div class="bui-card-background">
  <div class="bui-card-resize">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bui-footer">
  <p class="bui-byline">
    The Beacon UI is implemented by the Transformational Bioinformatics group at
    CSIRO <br />
    <a href="https://twitter.com/TBioinf" target="_blank"
      ><mat-icon>alternate_email</mat-icon></a
    ><a href="https://bioinformatics.csiro.au/" target="_blank"
      ><mat-icon>language</mat-icon></a
    >
  </p>
</div>
<app-global-spinner />
