/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.bui-header-wrapper {
  overflow: hidden;
  background: url(/assets/images/header.jpg) no-repeat right top;
  background-size: cover;

  @media (max-width: 1024px) {
    background-size: cover;
  }
}

.bui-header {
  height: 13em;
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 800px) {
    height: 7em;
  }
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

.bui-logo {
  position: absolute;
}

.bui-logo h1 {
  display: inline-block;
  // padding: 0.8em 1.3em 0.6em 1.5em;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 900;

  @media (max-width: 1024px) {
    padding: 0.2em 0.2em;
  }
}

.bui-logo a {
  text-decoration: none;
  color: #fff;
}

/*********************************************************************************/
/* Welcome Text                                                                  */
/*********************************************************************************/

.bui-welcome-wrapper {
  position: absolute;
  left: 3em;
  top: 30%;
  width: 100%;
  margin-top: -0.5em;
  @media (max-width: 800px) {
    left: 1em;
    top: 50%;
  }
}

.bui-welcome-wrapper h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 900;
  @media (max-width: 800px) {
    font-size: 1.3em;
  }
}

.bui-welcome-wrapper a {
  text-decoration: none;
  color: #fff;
}

/*********************************************************************************/
/* Menu                                                                           */
/*********************************************************************************/
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bui-menu-wrapper {
  animation: slideDown 0.5s ease-out;
  @media (min-width: 1200px) {
    display: none;
  }
}

.bui-menu-expander {
  display: none;

  @media (max-width: 1200px) {
    @apply flex items-center justify-between;
  }
}

.bui-menu {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  margin-top: -5em;

  @media (max-width: 1200px) {
    position: relative;
    margin-top: 0px;
  }

  @apply w-full;
}

.bui-menu-icon {
  @apply text-white;
  @media (max-width: 1200px) {
    @apply text-black;
  }
}

.bui-profile-lg-visibility {
  @media (max-width: 1200px) {
    display: none;
  }

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.bui-menu-wrapper-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    display: none;
  }
}

.bui-profile-sm-visibility {
  @media (max-width: 1200px) {
    display: block;
  }
}

/*********************************************************************************/
/* Footer                                                                           */
/*********************************************************************************/

.bui-footer {
  height: 10%;
  overflow: hidden;
  // background: #2f2f2f url(/assets/images/bg02.jpg) repeat;
  background-color: theme("colors.primary-10");
  padding: 50px 1px;
  text-align: center;
  color: #6f6f6f;
}

.bui-footer h2 {
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #fff;
  font-size: 2.5em;
}

.bui-footer .bui-byline {
  padding-bottom: 2.5em;
  letter-spacing: 0.1em;
}

.bui-footer p {
  letter-spacing: 0.15em;
  font-size: 0.8em;
}

.bui-footer a {
  color: #7f7f7f;
}

.bui-footer .bui-header .bui-byline {
  position: relative;
  padding: 0em 2em;
  top: -2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
}

.bui-byline {
  position: relative;
  top: -2em;
  font-weight: 700;
  font: 16px Arial;
}

.bui-footer .bui-byline {
  padding-bottom: 2.5em;
  letter-spacing: 0.1em;
}

.bui-card-resize {
  @apply w-[99%] lg:w-[95%] m-auto h-auto py-0 lg:py-[3em];
}

:host {
  display: block;
}

/*********************************************************************************/
/* Tab handling in pages                                                                           */
/*********************************************************************************/

.bui-page-closed {
  height: 0px;
  opacity: 0;
  visibility: hidden;
}

.bui-page-open {
  height: auto;
  opacity: 1;
  visibility: visible;
}

/*********************************************************************************/
/* BGSI LOGO                                                                           */
/*********************************************************************************/
.bgsi-logo {
  position: absolute;
  right: 5rem;
  top: 2rem;
  width: 60px;
  @media (max-width: 1280px) {
    right: 3rem;
    width: 30px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.kemenkes-logo {
  position: absolute;
  right: 11rem;
  top: 1.5rem;
  width: 200px;

  @media (max-width: 1280px) {
    right: 6rem;
    width: 130px;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
