<mat-card>
  <mat-card-content>
    <h2>Term frequencies</h2>
    @if (loading) {
      <div class="flex flex-row items-center gap-2.5">
        <h3 class="flex flex-grow">Loading</h3>
        <mat-progress-bar
          class="flex flex-grow-2"
          mode="determinate"
          [value]="(100 * completed) / terms.length"
        ></mat-progress-bar>
      </div>
    } @else if (counts.length > 0) {
      <div class="m-auto items-center">
        <app-entity-counts-by-term-plot
          [counts]="counts"
        ></app-entity-counts-by-term-plot>
      </div>
    }
  </mat-card-content>
</mat-card>
