<mat-card>
  <mat-card-content>
    <h2 class="text-primary-60 text-center uppercase">
      @if (state === StateTypes.FIRST_LOGIN) {
        <div>Set New Password</div>
      } @else {
        <div>Login</div>
      }
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="bui-login-form">
      <mat-form-field class="bui-login-input-field">
        <mat-label>Email</mat-label>
        <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Eg: guest@domain.com"
          required
        />
        <mat-hint>Enter your email (case insensitive)</mat-hint>
        @if (loginForm.controls.email.invalid) {
          <mat-error>
            A valid <strong>email</strong> is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
      @if (state === StateTypes.ORDINARY_LOGIN) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter your password</mat-hint>
          @if (loginForm.controls.password.invalid) {
            <mat-error> Password is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
      }
      @if (state === StateTypes.PASSWORD_RESET) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>Reset Code</mat-label>
          <input
            formControlName="resetCode"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter the code from your emails</mat-hint>
          @if (loginForm.controls.resetCode.invalid) {
            <mat-error> Reset code is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
      }
      @if (
        state === StateTypes.FIRST_LOGIN || state === StateTypes.PASSWORD_RESET
      ) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>New password</mat-label>
          <input
            formControlName="newPassword"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter your new password</mat-hint>
          @if (loginForm.controls.newPassword.invalid) {
            <mat-error>
              {{ loginForm.controls.newPassword.errors!["error"] }}
              {{
                loginForm.controls.newPassword.errors!["minlength"] &&
                  "Passwords must be at least 8 characters."
              }}
              @if (loginForm.controls.newPassword.errors!["required"]) {
                A new password is <strong>required</strong>
              }
            </mat-error>
          }
        </mat-form-field>
        <div class="bui-login-input-field">
          <app-password-strength-bar
            [password]="loginForm.value.newPassword || ''"
          />
        </div>
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>Re-enter your password</mat-label>
          <input
            formControlName="confirmationPassword"
            matInput
            placeholder="Re-enter your password"
            type="password"
          />
          <mat-hint>Please Re-enter your password</mat-hint>
          @if (loginForm.get("confirmationPassword")?.errors?.["mismatch"]) {
            <mat-error>
              {{ loginForm.get("confirmationPassword")?.errors?.["mismatch"] }}
            </mat-error>
          }
        </mat-form-field>
      }
      @if (state == StateTypes.ORDINARY_LOGIN) {
        <a
          class="text-left w-[300px] font-medium text-primary-60 text-sm"
          [routerLink]="[]"
          (click)="forgotPassword()"
          >Forgot password</a
        >
      }
      @if (state == StateTypes.TOTP_LOGIN) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>OTP Code</mat-label>
          <input
            formControlName="totp"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter the six digit OTP</mat-hint>
        </mat-form-field>
      }
      <button
        [disabled]="isSubmitDisabled()"
        mat-raised-button
        color="primary"
        class="bui-login-input-field"
      >
        {{
          state === StateTypes.PASSWORD_RESET
            ? "Change Password"
            : state === StateTypes.FIRST_LOGIN
              ? "Submit"
              : "Login"
        }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
