<mat-card>
  <mat-card-content>
    <h2 style="text-align: center; color: #006064; text-transform: uppercase">
      Login
    </h2>
    <!-- <div style="width: 100%; align-items: center; display: flex">
      <img
        src="/assets/images/sbeacon-tile.png"
        alt=""
        height="150px"
        style="margin: 0 auto"
      />
    </div> -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="bui-login-form">
      <mat-form-field class="bui-login-input-field">
        <mat-label>Email</mat-label>
        <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Eg: guest@domain.com"
          required
        />
        <mat-hint>Enter your email</mat-hint>
        @if (loginForm.controls.email.invalid) {
          <mat-error>
            A valid <strong>email</strong> is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
      @if (state === StateTypes.ORDINARY_LOGIN) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter your password</mat-hint>
          @if (loginForm.controls.password.invalid) {
            <mat-error> Password is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
      }
      @if (state === StateTypes.PASSWORD_RESET) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>Reset Code</mat-label>
          <input
            formControlName="resetCode"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter the code from your emails</mat-hint>
          @if (loginForm.controls.resetCode.invalid) {
            <mat-error> Reset code is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
      }
      @if (
        state === StateTypes.FIRST_LOGIN || state === StateTypes.PASSWORD_RESET
      ) {
        <mat-form-field class="bui-login-input-field" required>
          <mat-label>New password</mat-label>
          <input
            formControlName="newPassword"
            matInput
            placeholder=""
            type="password"
          />
          <mat-hint>Enter your new password</mat-hint>
          @if (loginForm.controls.newPassword.invalid) {
            <mat-error>
              {{ loginForm.controls.newPassword.errors!["error"] }}
              {{
                loginForm.controls.newPassword.errors!["minlength"] &&
                  "Passwords must be at least 6 characters."
              }}
              @if (loginForm.controls.newPassword.errors!["required"]) {
                A new password is <strong>required</strong>
              }
            </mat-error>
          }
        </mat-form-field>
      }
      @if (state == StateTypes.ORDINARY_LOGIN) {
        <a
          class="text-left w-[300px] font-medium text-cyan-900 text-sm"
          [routerLink]="[]"
          (click)="forgotPassword()"
          >Forgot password</a
        >
      }
      <button
        [disabled]="loginForm.invalid"
        mat-raised-button
        color="primary"
        class="bui-login-input-field"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
