<!-- prettier-ignore -->
<h1 mat-dialog-title>Select a <em>{{ _.startCase(data.scope) }}</em> entry</h1>
@if (data.projects.length > 0) {
  <app-component-spinner [loading]="loading"></app-component-spinner>
  <div mat-dialog-content>
    <div class="bui-filter-selection-table">
      <table mat-table [dataSource]="dataSourceEntries">
        @for (column of displayedColumnsEntries; track column) {
          <ng-container [matColumnDef]="column">
            <th
              [ngClass]="{ 'bui-header-selected': column === 'selected' }"
              mat-header-cell
              *matHeaderCellDef
            >
              {{ _.startCase(column) }}
            </th>
            <td mat-cell *matCellDef="let element">
              @switch (column) {
                @default {
                  <div>
                    @if (
                      _.isString(element[column]) || _.isNumber(element[column])
                    ) {
                      <pre>{{ element[column] }}</pre>
                    } @else {
                      <ngx-json-viewer
                        class="bui-ngx-json-viewer"
                        [expanded]="false"
                        [json]="element[column]"
                      ></ngx-json-viewer>
                    }
                  </div>
                }
                @case ("selected") {
                  <div>
                    <mat-checkbox
                      color="primary"
                      [checked]="selected === element.id"
                      (change)="select(element, $event)"
                    ></mat-checkbox>
                  </div>
                }
              }
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEntries"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEntries"></tr>
      </table>
      <br />
    </div>
    <mat-paginator
      #paginator
      [pageSizeOptions]="[10, 50, 100]"
      [length]="total"
      [class.hide]="!(dataSourceEntries.data.length && !loading)"
    ></mat-paginator>

    @if (!dataSourceEntries.data.length && !loading) {
      <p>No entries available in the selected scope</p>
    }
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="cancel()"
        class="mr-2.5"
      >
        Cancel
      </button>
      <button mat-raised-button color="primary" (click)="done()">Done</button>
    </div>
  </div>
} @else {
  <div mat-dialog-content>
    <p>Please select some projects.</p>
    <button mat-raised-button color="primary" (click)="cancel()" class="mr-2.5">
      Cancel
    </button>
  </div>
}
